.food-table {
	display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 700px;
  overflow: auto;
}

.mat-cell {
	display: table-cell;
	min-width: 90px;
	vertical-align: middle;
	font-size: 12px;
}