<mdc-app-bar [mdc-elevation]="5" class="tab-bar">
  <mdc-app-bar-row>
    <mdc-app-bar-section align="start">
      <mdc-app-bar-title fxLayout="column">
       <span mdc-typography-display1>FitSine</span>
      </mdc-app-bar-title>
    </mdc-app-bar-section>
    <mdc-app-bar-section align="end">
      <div class="tabs" fxLayout="row">
        <button class="tab-button" routerLink="/home" routerLink="/" mat-button>HOME</button>
        <button class="tab-button" mat-button>SALADS</button>
        <button class="tab-button" mat-button>PLANS</button>
        <button class="tab-button" mat-button>ORDERS</button>
        <button class="tab-button" routerLink="/admin" mat-button>ADMIN</button>
      </div> 
      <button (click)="openLogin()" color="accent" mat-raised-button>SIGN IN</button>
    </mdc-app-bar-section>
  </mdc-app-bar-row>
</mdc-app-bar>
<div class="outlet-container">
  <router-outlet></router-outlet>
</div>
