<mdc-app-bar [mdc-elevation]="5" class="tab-bar">
  <mdc-app-bar-row>
    <mdc-app-bar-section align="start">
      <mdc-app-bar-title fxLayout="column">
       <span mdc-typography-display1>FitSine</span>
      </mdc-app-bar-title>
    </mdc-app-bar-section>
    <mdc-app-bar-section align="end">
      <button mdcAppBarActionItem (click)="openLogin()" mdc-button [secondary]="true" [raised]="true">SIGN IN</button>
    </mdc-app-bar-section>
  </mdc-app-bar-row>
</mdc-app-bar>
<mdc-app-bar class="app-bar">
  <mdc-app-bar-row>
    <p mdc-typography-display3>NUTRITION
        <br> LOGO</p>
  </mdc-app-bar-row>
  <mdc-app-bar-row>
    <mdc-app-bar-title>
      <button (click)="apiCall()" mdc-button raised="true" secondary="true">Order Now</button>
    </mdc-app-bar-title>
  </mdc-app-bar-row>
</mdc-app-bar>
<div class="outlet-container">
  <router-outlet></router-outlet>
</div>
