$fixed-header-height: 64px;

.tab-bar {
	z-index: 2;
	position: fixed;
	padding: 0 32px;
}

p {
	font-size: 8vw;
	line-height: 1;
	opacity: 0.8;
}

.outlet-container {
	padding-top: $fixed-header-height;
}

.tabs {
}

.tab-button {
	color: whitesmoke;
}