$fixed-header-height: 64px;

.tab-bar {
	z-index: 2;
	position: fixed;
	padding: 0 32px;
}

p {
	font-size: 8vw;
	line-height: 1;
	opacity: 0.8;
}

.outlet-container {
	padding-top: $fixed-header-height;
}

.tabs {
}

.mat-button.tab-button {
	color: whitesmoke;
	min-width: 1%;
}

.mat-menu-panel {
	background: #222d32;
	color: whitesmoke;
}